boto==2.48.0
cairocffi==0.8.0
CairoSVG==2.1.1
certifi==2017.7.27.1
cffi==1.11.2
chardet==3.0.4
cssselect2==0.2.1
defusedxml==0.5.0
html5lib==0.999999999
idna==2.6
iso8601==0.1.12
multi-key-dict==2.0.3
olefile==0.44
pdfrw==0.4
Pillow==6.2.0
pycairo==1.15.2
pycparser==2.18
Pyphen==0.9.4
pypiwin32==219
python-dateutil==2.6.1
python-decouple==3.1
python-jenkins==0.4.15
redis==2.10.6
requests==2.18.4
schedule==0.4.3
six==1.10.0
tinycss2==0.6.1
urllib3==1.22
WeasyPrint==0.41
webencodings==0.5.1
